.questions {
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    background-color: rgba(97, 97, 97, 0.349);
    border-collapse: collapse; 
    overflow: hidden;

    border-left: 5px solid rgba(0, 238, 255, 0.486);
    width:80%;
    margin-top: 1%;
    padding: 15px;

    color: white;

    .lifeline-container {
        display:flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .lifeline {
        position: relative;
        font-size: 20px;
        overflow: hidden;
        border-radius: 15px;
        outline: none;
        transition: 0.1s linear all;
        background-color: rgba(251, 255, 0, 0.425);
        box-shadow: 0 0 5px rgba(0, 0, 0, 15);
        padding: 10px;
    }
    
    .lifeline:hover {
        background: none;
        color: darken(orange, 10%);
    }
    
    h2 {
        text-align: center;
        font-weight: lighter;
        text-shadow: 0 0 5px rgba(0, 0, 0, 15);

        font-size: 50px
    }
    
    h5 {
        font-size: 35px;
        margin-bottom: 5px;
        line-height: 1.5;
        text-align:center;
    }

    .timer-number {
        text-align: center;
        font-size: 20px;
    }
    
    .option-container {
        display: inline-block;
        width:50%;
    }
    
    .option {
        background-color: rgba(96, 187, 240, 0.767);
        border: 30px;

        // padding: 5px 10px 5px 10px;
        font-size: 20px;
        overflow: hidden;
        border-radius: 30px;
        outline: none;
        transition: 0.1s linear all;
        box-shadow: 0 0 5px rgba(0, 0, 0, 15);
        text-decoration: none;

        color: white;
        cursor: pointer;
        margin: 2rem auto;
        padding: 1rem;
        text-align: center;
        width: 90%;
    }
    
    .option:hover {
        background-color: darken(blue, 20%);
    }
}

.button-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    width: 80%;
}

.button-container button {
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 15px;
}

.button-container button:first-child {
    background-color: rgba(38, 230, 255, 0.767);
    border: 30px;

    padding: 5px 10px 5px 10px;
    font-size: 20px;
    overflow: hidden;
    border-radius: 15px;
    outline: none;
    transition: 0.1s linear all;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    text-decoration: none;
}

.button-container button:first-child:hover {
    background-color: darken(rgba(38, 230, 255, 0.767), 20%);
}

.button-container button:nth-child(2) {
    background-color: rgba(52, 255, 34, 0.781);
    border: 30px;

    padding: 5px 30px 5px 30px;
    font-size: 20px;
    overflow: hidden;
    border-radius: 15px;
    outline: none;
    transition: 0.1s linear all;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    text-decoration: none;
}

.button-container button:nth-child(2):hover {
    background-color: darken(rgba(52, 255, 34, 0.781), 20%);
}

.button-container button:last-child {
    background-color:rgb(255, 42, 42);
    border: 30px;

    padding: 5px 30px 5px 30px;
    font-size: 20px;
    overflow: hidden;
    border-radius: 15px;
    outline: none;
    transition: 0.1s linear all;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    text-decoration: none;
}

.button-container button:last-child:hover {
    background-color: darken(rgb(255, 42, 42), 20%);
}
